<!--<div style="margin-top: 10px;">-->

<!--<div class="background-bodyleft">-->
<!--<ul class="nav nav-pills nav-stacked">-->
<!--<li ><a href    ="#"><i class="fa fa-home fa-fw"></i>Home</a></li>-->
<!--<li><a href="#"><i class="fa fa-list-alt fa-fw"></i>Catagory</a></li>-->
<!--<li><a href="#"><i class="fa fa-file-o fa-fw"></i>Tag</a></li>-->
<!--<li><a href="#"><i class="fa fa-tasks fa-fw"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-calendar fa-fw"></i>Calender</a></li>-->
<!--<li><a href="#"><i class="fa fa-book fa-fw"></i>Library</a></li>-->
<!--<li><a href="#"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>-->
<!--</ul>-->
<ul>
    <li>
        <div class="content" style="margin-top: 20px;">
            <div class="img">
                <img src="http://img2.tamtay.vn/files/blogdata/2014/8/19/12/14467785/a6aae7e104c8165c2b322b0799631444_thumb_210x179.jpg"
                     alt="Profile" style="width: 200px;height:200px;">
            </div>
            <div class="text">
                <h4><a href="#">Hi,I'm GOSU</a></h4>

                <h5>"Khi yêu không kể khoảng cách , có thể làm mọi thứ cho người mình yêu
                    thương ."</h5>
            </div>
        </div>
    </li>

</ul>
<hr>
<ul>
    <li>
        <p style="padding-left:0;">CATAGORY<i class="icon-caret-down"></i></p>
        <ul>
            <li>
                <a href="#">Teen tự kỉ</a>
            </li>
            <li>
                <a href="#">Tự sướng quá đà</a>
            </li>
            <li>
                <a href="#">Teen Hoang tưởng</a>
            </li>
        </ul>
    </li>
</ul>
<hr>
<ul>
    <li class="sl-menu ext-menu">
        <p style="padding-left:0;">BÀI VIẾT MỚI<i class="icon-caret-down"></i></p>
        <ul>
            <li>
                <a href="#">Ăn chơi</a>
            </li>
            <li>
                <a href="#">Giải trí</a>
            </li>
            <li>
                <a href="#">Horoscope</a>
            </li>
            <li>
                <a href="#">Hà Nội</a>
            </li>
            <li>
                <a href="#">Sài Gòn</a>
            </li>
        </ul>
    </li>
</ul>
<hr>
<ul>
    <li class="sl-menu ext-menu item-1230">
        <p style="padding-left:0;">TAG</p>
    </li>

</ul>
<!--<div id="menu">-->
<!--<a href="#" onclick="ChuaHoanThien()">-->
<!--<p id="music">-->
<!--<span></span>-->
<!--</p>-->
<!--</a>-->
<!--<a href="#" onclick="ChuaHoanThien()">-->
<!--<p id="photo">-->
<!--<span></span>-->
<!--</p>-->
<!--</a>-->
<!--<script type="text/javascript">-->
<!--function ChuaHoanThien() {-->
<!--alert('Xin lỗi, chức năng này đang trong giai đoạn phát triển');-->
<!--}-->
<!--</script>-->
<!--</div>-->
<!--<div><h2 class="add">Quảng cáo!</h2></div>-->

<!--</div>-->
<!--</div>-->