<div class="bodyleft">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-list-alt fa-fw"></i>Catagory</a></li>
            <li><a href="#"><i class="fa fa-file-o fa-fw"></i>Tag</a></li>
            <!--<li><a href="#"><i class="fa fa-tasks fa-fw"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-calendar fa-fw"></i>Calender</a></li>-->
            <!--<li><a href="#"><i class="fa fa-book fa-fw"></i>Library</a></li>-->
            <!--<li><a href="#"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>-->
        </ul>
        <div><h2 class="add">Quảng cáo!</h2></div>
    </div>
</div>