
<link rel='stylesheet' href='/css/footer.css'>
<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet'>
<link rel='stylesheet' href='../css/bootstrap.min.css' />
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

        <hr>
    <div class="text-center center-block">

        <br />
        <a href="https://www.facebook.com/luanzugi.tt"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
        <a href="https://twitter.com/betozugi"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
        <a href="https://plus.google.com/betokutin"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
        <a href="mailto:betokutin@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
    </div>
    <p class="text-center text-muted">© Copyright 2014 from MyBlog.Vn </p>
    <hr>