
<!--</header>-->
    <div class="tt-header">
        <div class="site-wrap">
            <ul>
                <li class="ml-menu"><a href="/">MyBlog</a></li>
                <li class="ml-menu"><a href="#">Ảnh</a></li>
                <li class="ml-menu active">
                    <a href="#">Blog</a>
                    <img src="http://b0.ttimg.vn/img/img_201302/arrow_actiNav.gif">
                </li>
                <li class="ml-menu"><a href="#">Sự kiện</a></li>
                <form id="header-search-form" class="fl" accept-charset="utf-8" method="post" action="/searchPost" style="margin: 0px;">
                    <li class="ml-menu">
                        <div class="tt-search">
                            <div>
                                <input style="height: 24px;width: 190px;" type="text" placeholder="Nhập từ khóa" class="input-medium" name="txtSearch">
                            </div>
                            <button type="submit"><i class="icon-search"></i></button>
                        </div>
                    </li>
                </form>

                <li class="ml-menu ml-right ext-menu user">

                <%if(username && typeof username !== 'undefined'){%>
                <li class="ml-menu ml-right">
                    <a href="/logout">Logout</a>
                </li>
                <li class="ml-menu ml-right">
                    <a href="/about"> Hello <%=username%></a>

                </li>
                <li class="ml-menu ml-right">
                    <%if(username && typeof username !== 'undefined') {%>
                    <a href="postAdd"  style="width:83px; display: inline ">Viết Blog</a>
                    <%}else {%>
                    <a href="#"  style="width:83px; display: none ">Viết Blog</a>
                    <%}%>

                </li>

                <%}else {%>
                <li class="ml-menu ml-right">
                    <a href="/login">Đăng nhập</a>
                </li>
                <%}%>
                </li>

            </ul>
        </div>
    </div>
<!--</header>-->