<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
    <style>
        .background {
            background-image: url(http://hachick.com/image/bg.png);
        }

    </style>
    <meta charset="utf-8">
    <meta name='ckeditor-sample-required-plugins' content='sourcearea'>
    <script src='/js/ckeditor.js'></script>
    <script src='/js/sample.js'></script>
    <link href='css/sample.css' rel='stylesheet'>
    <script src="/js/post.js"></script>
    <!--<link rel="stylesheet" type="text/css" href='/fonts/Rancho-Regular.ttf'>-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rancho">


    <script>(function () {
        with (this[2]) {
            with (this[1]) {
                with (this[0]) {
                    return function (event) {
                        blog_entry.limitTextLength(this, 2000, 'introLength', '[n]/2000 ký tự')
                    };
                }
            }
        }
    })</script>

</head>
<!--<body class="container">-->
<body>
<form >
<!--<div class="background">-->
<div class="container">
<a href="#" class="back-to-top"><i class="icon-long-arrow-up"></i></a>

<div>
<header>
    <% include ../views/partials/header %>
</header>
<main style="background-image: url(http://hachick.com/image/bgRight.png)">

<div id="blog" class="row">
<!--body left-->

<div class="col-md-3" style="
                            background-image: url(http://hachick.com/image/bgRight.png);
                            margin-left: 15px;
                            margin-top: 0px;margin-right:0px;&nbsp;;
                            height: 100%;">

    <div class="btn-tool">
        <br>
        <a href="#" class="sl-menu-btn" style="width:auto;margin-left: 48px;">Blog của tôi</a>
        <a href="#" class="sl-menu-btn" style="width:83px; ">Viết Blog</a>
        <br>
    </div>

    <% include partials/bodyleft.ejs %>
</div>

<!--body right-->
<div class="bd-right">
<div style="margin-left: 10px;margin-right: 0px;">

    <div id="" class="clearfix">


        <% arrPost.forEach(function (p){ %>
        <article id="post-338" class="post-338 post type-post status-publish format-video hentry category-am-nhac-nghe-thuat clearfix box full-width" role="article">

            <header>
                <h2 class="post-title"><a style="text-decoration: none;color: #E93071;" href="/postByName?name=<%= p.title%>"><%= p.title %></a></h2>
            </header>

            <div class="entry-content">
                <p><%= p.description %></p>
            </div>

            <div class="meta clearfix">
                <div class="icon icon-video"></div>
                <span class="post-date">25 Aug</span>
	<span class="post-comments">
			<a href="#" title="Comment on Saint Young Men, khi Chúa và Phật cùng tái sinh cõi trần"><fb:comments-count xmlns="http://ogp.me/ns/fb#" href="http://blog360.vn/saint-young-men-khi-chua-va-phat-cung-tai-sinh-coi-tran/" fb-xfbml-state="rendered" class=" fb_comments_count_zero"><span class="fb_comments_count">0</span></fb:comments-count> Comments</a>	</span>
            </div>
        </article>
        <%});%>



    </div>
</div>
</div>

<footer>
    <% include ../views/partials/footer %>
</footer>

</div>


</main>
</div>
</div>

<!--</div>-->

</form>
</body>
</html>
