<html lang="en">
<head>
    <% include ../views/partials/head %>
    <style>
        .background {
            background-image: url(http://hachick.com/image/bg.png);
        }

    </style>
    <meta charset="utf-8">
    <meta name='ckeditor-sample-required-plugins' content='sourcearea'>
    <script src='/js/ckeditor.js'></script>
    <script src='/js/sample.js'></script>
    <link href='css/sample.css' rel='stylesheet'>
    <link href='css/changeProfile.css' rel='stylesheet'>
    <script src="/js/post.js"></script>


</head>
<!--<body class="container">-->
<body>
<form>
<!--<div class="background">-->
<div class="container">
<a href="#" class="back-to-top"><i class="icon-long-arrow-up"></i></a>

<div>
<header>
    <% include ../views/partials/header %>
</header>
<main style="background-image: url(http://hachick.com/image/bgRight.png)">

<div id="blog" class="row">
<!--body left-->

<div class="col-md-3" style="
                            background-image: url(http://hachick.com/image/bgRight.png);
                            margin-left: 15px;
                            margin-top: 0px;margin-right:0px;&nbsp;;
                            height: 100%;">

    <div class="btn-tool">
        <br>
        <a href="#" class="sl-menu-btn" style="width:auto;margin-left: 48px;">Blog của tôi</a>
        <a href="#" class="sl-menu-btn" style="width:83px; ">Viết Blog</a>
        <br>
    </div>

    <ul>
        <li>
            <div class="content" style="margin-top: 20px;">
                <div class="img">
                    <img src="http://img2.tamtay.vn/files/blogdata/2014/8/19/12/14467785/a6aae7e104c8165c2b322b0799631444_thumb_210x179.jpg"
                         alt="Profile" style="width: 200px;height:200px;">
                </div>
                <div class="text">
                    <h4><a href="#">Hi,I'm GOSU</a></h4>

                    <h5>"Khi yêu không kể khoảng cách , có thể làm mọi thứ cho người mình yêu
                        thương ."</h5>
                </div>
            </div>
        </li>

    </ul>
    <hr>
    <ul>
        <li>
            <p style="padding-left:0;">CATAGORY<i class="icon-caret-down"></i></p>
            <ul>
                <li>
                    <a href="#">vvvv</a>
                </li>

            </ul>
        </li>
    </ul>
    <hr>
    <ul>
        <li class="sl-menu ext-menu">
            <p style="padding-left:0;">BÀI VIẾT MỚI<i class="icon-caret-down"></i></p>
            <ul>
                <li>
                    <a href="#">Ăn chơi</a>
                </li>
                <li>
                    <a href="#">Giải trí</a>
                </li>
                <li>
                    <a href="#">Horoscope</a>
                </li>
                <li>
                    <a href="#">Hà Nội</a>
                </li>
                <li>
                    <a href="#">Sài Gòn</a>
                </li>
            </ul>
        </li>
    </ul>
    <hr>
    <ul>
        <li class="sl-menu ext-menu item-1230">
            <p style="padding-left:0;">TAG</p>
        </li>

    </ul>
</div>

<!--body right-->
<div class="bd-right">

    <div class="row pad-left-medium pad-top-half add-bottom-half remove-pad-on-phone">

        <!--block : starts-->
        <div class="offset">
            <div class="wrap-personal-info">
                <div class="btn btn-edit drop-click" rel="Hoàn tất"><i class="icon-edit"></i> Sửa</div>
                <div class="drop-content personal-info-edit" role="menu" aria-labelledby="dLabel" style="display: none;">

            </div>
        </div>
    </div>
</div>

<footer>
    <% include ../views/partials/footer %>
</footer>

</div>

</div>
</main>
</div>
</div>

<!--</div>-->

</form>
</body>
</html>
