<!DOCTYPE html>
<html>
<head>
    <title><%= arrPost %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <!--for responsive feature-->
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/css/bootstrap-responsive.css'>
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
<!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->

<script>
    function sayhello() {
        var x = caba;
        document.getElementById("here").innerHTML += 'Nè: ';
    }
</script>
<button onclick="sayhello()" name="btnHelllo">Click to say "Hell World"</button>
<br>
<a href="/login.ejs">Login</a>
<br>
<a href="/home.ejs">MyBlog</a>
<br>
<a href="/test.ejs">Test</a>
<br>
<a href="/textEditor.ejs">Test Editor</a>
<br>
<div id="here"></div>

<<<<<<< HEAD
<br>
<form action="/test" method="post">
    <input type="submit" value="GO" name="btnSubmit">
</form>
=======
<p><%= arrPost %></p>

<p id="demo"></p>
>>>>>>> origin/master
</body>
</html>
