<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
    <style>
        .background {
            /*background-image: url(http://hachick.com/image/bg.png);*/
            background-image: url(http://hachick.com/image/bg.png);
        }

    </style>

</head>
<!--<body class="container">-->
<body>
<form>
    <div class="background">
        <div class="container">
            <!--<div class="back-top affix" data-spy="affix" data-offset-top="500">-->
            <!--<a href="#"><img src="http://b0.ttimg.vn/img/img_201302/icon_backTop.gif" alt="back to top"></a>-->
            <!--</div>-->
            <!--<a href="" id="back-to-top"><i class="icon-long-arrow-up"></i></a>-->
            <a href="#" class="back-to-top"><i class="icon-long-arrow-up"></i></a>

            <div>
                <header>
                    <% include ../views/partials/header %>
                </header>
                <main style="background-color: aliceblue ">

                    <div id="blog" class="row">
                        <!--body left-->
                        <div class="col-md-3" style="
                            background-image: url(http://hachick.com/image/bgRight.png);
                            margin-left: 15px;
                            margin-top: 0px;margin-right:0px;&nbsp;;
                            height: 100%;">

                            <% include partials/bodyleft.ejs %>

                        </div>
                        <div>
                            <% arrPost.forEach( function(details){ %>
                            <ul>
                                <li>
                                    <p><%=details.content %></p>
                                </li>

                            </ul>
                            <% });%>
                        </div>

                    </div>
                    <footer>
                        <% include ../views/partials/footer %>
                    </footer>
                </main>
            </div>
        </div>
    </div>
</form>
</body>