<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
    <style>
        .background {
            /*background-image: url(http://hachick.com/image/bg.png);*/
            background-image: url(http://hachick.com/image/bg.png);
        }

    </style>

</head>
<!--<body class="container">-->
<body>
<form>
        <div class="container">
            <a href="#" class="back-to-top"><i class="icon-long-arrow-up"></i></a>

            <div>
                <header>
                    <% include ../views/partials/header %>
                </header>
                <main style="background-image: url(http://hachick.com/image/bgRight.png)">

                    <div id="blog" class="row">
                        <!--body left-->
                        <div class="col-md-3" style="
                            background-image: url(http://hachick.com/image/bgRight.png);
                            margin-left: 15px;
                            margin-top: 0px;margin-right:0px;&nbsp;;
                            height: 100%;">

                            <% include partials/bodyleft.ejs %>

                        </div>
                        <div class="bd-right" style="padding-top: 5px;padding-bottom: 200px;">
                            <div style="margin-left: 30px;margin-right: 0px;">
                            <% arrPost.forEach( function(p){ %>
                            <ul>
                                <h2><%= p.title %></h2>
                                <li>
                                        <div><%- p.content %></div>
                                </li>

                            </ul>
                            <% });%>
                                <br><br>
                            </div>
                        </div>

                    </div>
                    <footer>
                        <% include ../views/partials/footer %>
                    </footer>
                </main>
            </div>
        </div>
</form>
</body>